/* Error: Module loop: this module is already being loaded.
 *   ,--> scss\07-templates\_index.scss
 * 1 | @forward '';
 *   | ^^^^^^^^^^^ new load
 *   '
 *   ,--> scss\main.scss
 * 7 | @use "07-templates" as *;
 *   | ======================== original load
 *   '
 *   scss\07-templates\_index.scss 1:1  @use
 *   scss\main.scss 7:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > scss\\07-templates\\_index.scss\a 1 \2502  @forward '';\a   \2502  ^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > scss\\main.scss\a 7 \2502  @use \"07-templates\" as *;\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   scss\\07-templates\\_index.scss 1:1  @use\a   scss\\main.scss 7:1                 root stylesheet";
}
